<!DOCTYPE html>
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDelete" aria-hidden="true">
    <div class="modal-dialog" role="document">


        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="ModalLabel">Are u sure to delete?</h5>
            </div>
            <div class="modal-footer">
                <form action="delete" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">File Name:</label>
                            <input type="text" id="modalDeleteDagInput" name="file_name" class="form-control"
                                   aria-describedby="basic-addon1">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>